tooling/n8n/workflows/02-whatsapp-booking-confirmation.json
{
  "name": "Servix — WhatsApp Booking Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "servix-booking-confirmed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2222222-2222-4222-a222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "servix-booking-confirmed"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "guard-phone",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-instance",
              "leftValue": "={{ $json.body.instanceName }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-service",
              "leftValue": "={{ $json.body.service }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-date",
              "leftValue": "={{ $json.body.date }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2222222-2222-4222-a222-222222222222",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-text",
              "name": "text",
              "value": "=✅ تم تأكيد حجزك في {{ $json.body.salonName }}\n\nالخدمة: {{ $json.body.service }}\n{{ $json.body.employeeName ? 'الموظف: ' + $json.body.employeeName + '\\n' : '' }}التاريخ: {{ $json.body.date }}\nالوقت: {{ $json.body.startTime }}\n\nنتطلع لرؤيتك! لأي تعديل أو إلغاء يرجى التواصل معنا مبكراً.\n\nللإلغاء الاشتراك من الرسائل، أرسل كلمة \"الغاء\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c2222222-2222-4222-a222-222222222222",
      "name": "Build Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{ $('Webhook').item.json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.instanceToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"delay\": {{ Math.floor(1500 + Math.random() * 3000) }}\n}",
        "options": { "timeout": 15000 }
      },
      "id": "d2222222-2222-4222-a222-222222222222",
      "name": "Evolution — Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event\": \"booking_confirmed\",\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\"\n}"
      },
      "id": "e2222222-2222-4222-a222-222222222222",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={ \"success\": false, \"error\": \"missing required fields (phone, instanceName, service, date)\" }"
      },
      "id": "f2222222-2222-4222-a222-222222222222",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Build Message", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Message": {
      "main": [[{ "node": "Evolution — Send Text", "type": "main", "index": 0 }]]
    },
    "Evolution — Send Text": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all", "saveExecutionProgress": true, "timezone": "Asia/Riyadh" },
  "meta": { "templateId": "servix-whatsapp-booking-confirmation" },
  "pinData": {},
  "tags": [{ "name": "servix" }, { "name": "whatsapp" }]
}
