tooling/n8n/workflows/03-whatsapp-appointment-reminder.json
{
  "id": "wf-servix-reminder-0003",
  "name": "Servix — WhatsApp Appointment Reminder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "servix-appointment-reminder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a3333333-3333-4333-a333-333333333333",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "servix-appointment-reminder"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "guard-phone",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-instance",
              "leftValue": "={{ $json.body.instanceName }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-date",
              "leftValue": "={{ $json.body.date }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-time",
              "leftValue": "={{ $json.body.startTime }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3333333-3333-4333-a333-333333333333",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-text",
              "name": "text",
              "value": "=⏰ تذكير بموعدك في {{ $json.body.salonName }}\n\n{{ $json.body.hoursBefore ? 'موعدك بعد ' + $json.body.hoursBefore + ' ساعة' : 'موعدك قريب' }}\n\nالخدمة: {{ $json.body.service }}\nالتاريخ: {{ $json.body.date }}\nالوقت: {{ $json.body.startTime }}\n\nنرجو الحضور قبل الموعد بـ 10 دقائق. لأي تعديل أو إلغاء يرجى التواصل معنا.\n\nللإلغاء الاشتراك من الرسائل، أرسل كلمة \"الغاء\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-a333-333333333333",
      "name": "Build Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{ $('Webhook').item.json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.instanceToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"delay\": {{ Math.floor(2000 + Math.random() * 3500) }}\n}",
        "options": { "timeout": 15000 }
      },
      "id": "d3333333-3333-4333-a333-333333333333",
      "name": "Evolution — Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event\": \"appointment_reminder\",\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\"\n}"
      },
      "id": "e3333333-3333-4333-a333-333333333333",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={ \"success\": false, \"error\": \"missing required fields (phone, instanceName, date, startTime)\" }"
      },
      "id": "f3333333-3333-4333-a333-333333333333",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Build Message", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Message": {
      "main": [[{ "node": "Evolution — Send Text", "type": "main", "index": 0 }]]
    },
    "Evolution — Send Text": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all", "saveExecutionProgress": true, "timezone": "Asia/Riyadh" },
  "meta": { "templateId": "servix-whatsapp-appointment-reminder" },
  "pinData": {}
}
