tooling/n8n/workflows/04-whatsapp-review-request.json
{
  "id": "wf-servix-review-0004",
  "name": "Servix — WhatsApp Review Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "servix-review-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4444444-4444-4444-a444-444444444444",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "servix-review-request"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "guard-phone",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-instance",
              "leftValue": "={{ $json.body.instanceName }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "guard-review-url",
              "leftValue": "={{ $json.body.reviewUrl }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4444444-4444-4444-a444-444444444444",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-text",
              "name": "text",
              "value": "=شكراً لزيارتك {{ $json.body.salonName }} 💜\n\n{{ $json.body.clientName ? 'عزيزتنا ' + $json.body.clientName + '، ' : '' }}نتمنى أن تكون تجربتك معنا مميزة.\n\nيسعدنا تقييمك ومراجعتك هنا:\n{{ $json.body.reviewUrl }}\n\nرأيك يهمنا ويساعدنا على تقديم الأفضل دائماً.\n\nللإلغاء الاشتراك من الرسائل، أرسل كلمة \"الغاء\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c4444444-4444-4444-a444-444444444444",
      "name": "Build Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://evolution-api:8080/message/sendText/{{ $('Webhook').item.json.body.instanceName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('Webhook').item.json.body.instanceToken }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').item.json.body.phone }}\",\n  \"text\": {{ JSON.stringify($json.text) }},\n  \"delay\": {{ Math.floor(2500 + Math.random() * 4000) }}\n}",
        "options": { "timeout": 15000 }
      },
      "id": "d4444444-4444-4444-a444-444444444444",
      "name": "Evolution — Send Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"event\": \"review_request\",\n  \"phone\": \"{{ $('Webhook').item.json.body.phone }}\"\n}"
      },
      "id": "e4444444-4444-4444-a444-444444444444",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={ \"success\": false, \"error\": \"missing required fields (phone, instanceName, reviewUrl)\" }"
      },
      "id": "f4444444-4444-4444-a444-444444444444",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [
        [{ "node": "Build Message", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Build Message": {
      "main": [[{ "node": "Evolution — Send Text", "type": "main", "index": 0 }]]
    },
    "Evolution — Send Text": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveDataErrorExecution": "all", "saveExecutionProgress": true, "timezone": "Asia/Riyadh" },
  "meta": { "templateId": "servix-whatsapp-review-request" },
  "pinData": {}
}
